accelerate==0.5.1
auto_mix_prep==0.2.0
datasets==1.16.1
faiss-gpu
jsonlines==3.0.0
nltk==3.6.6
numpy==1.21.2
pyserini
requests==2.25.1
spacy==3.2.1
submitit==1.4.1
tqdm
transformers==4.14.1
wget==3.2
